
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

  
.gradient-background1 {
 
  background: linear-gradient(310deg,#151716,#055f47,#000000,#191919,#202121,#7106dd);
  background-size: 360% 360%;
  animation: gradient-animation 36s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.color-pic {
  appearance: none; /* استایل پیش‌فرض مرورگر رو حذف می‌کنه */
  -webkit-appearance: none;
  border: 2px solid #a3a3a3;

  width: 100px;
  height: 60px;
  cursor: pointer;
  background: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  padding: 2px;
  margin-right: 20px;
 
}

/* افکت هاور */
.color-pic:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
  border-color: #9ca3af;
}

/* برای دایره‌ای کردن کامل */
.color-pic.round {
  border-radius: 50%;
}
