@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


}

@font-face {
  font-family: 'lalezar';
  src: url(./assets//fonts/Lalezar-Regular.ttf);
}

@font-face {
  font-family: 'b-yekan';
  src: url(./assets/fonts/Yekan.ttf);
}

.lalezar{
  font-family: 'lalezar';

}

.Byekan{
  font-family: 'b-yekan';
}
.gradient-background {
  background: linear-gradient(315deg,#5d18a9,#000000,#000000,#053e37);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.color{
  color: rgba(255, 59, 59, 0.782);
}
@layer utilities{

 
  .borderm{
   border: 3px solid rgb(255, 255, 255);
   border-radius: 20px;
  
  }

 .my-box {
box-shadow: rgba(178, 20, 172, 0.25) 0px 54px 55px, rgba(197, 27, 163, 0.12) 0px -12px 30px, rgba(161, 22, 150, 0.12) 0px 4px 6px, rgba(152, 17, 157, 0.17) 0px 12px 13px, rgba(173, 28, 125, 0.09) 0px -3px 5px;
}
}

@keyframes meteor {
  0% {
    transform: translate(0,0) rotate(var(--angle));
    opacity: 1;
  }
  100% {
    transform: translate(-300px, 600px) rotate(var(--angle));
    opacity: 0;
  }
}

.animate-meteor {
  animation: meteor linear infinite;
}
