@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


}

@font-face {
  font-family: 'lalezar';
  src: url(./assets//fonts/Lalezar-Regular.ttf);
}

@font-face {
  font-family: 'b-yekan';
  src: url(./assets/fonts/Yekan.ttf);
}

.lalezar{
  font-family: 'lalezar';

}

.Byekan{
  font-family: 'b-yekan';
}
.gradient-background {
  background: linear-gradient(315deg,#5d18a9,#000000,#000000,#053e37);
  background-size: 240% 240%;
  animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@layer utilities{

  .custom-shadow{
   box-shadow: rgba(0, 129, 69, 0.25) 0px 25px 50px -12px;
  }
}